@import 'highlight.js/styles/github-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-message pre code.hljs {
  background: transparent;
  padding: 0;
}

.markdown-message :not(pre) > code {
  white-space: break-spaces;
}

.markdown-message table {
  margin: 0;
  width: 100%;
}

.markdown-message th,
.markdown-message td {
  border-color: rgb(226 232 240);
}
